<a href="https://colab.research.google.com/github/InsightfulSantosh/SQL-DBMS/blob/main/DDL_DML_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DDL and DML Commands in SQL**

#### Overview
**Data Definition Language (DDL)** and **Data Manipulation Language (DML)** are two fundamental components of SQL used for managing and manipulating databases.

### **DDL (Data Definition Language) Commands**

DDL commands are used to define and manage the structure of database objects. Here are some key DDL commands:

1. **CREATE**: Used to create database objects such as tables, views, indexes, and more.
   - Example:
     ```sql
     CREATE TABLE Employees (
         EmployeeID INT,
         FirstName VARCHAR(255),
         LastName VARCHAR(255),
         Department VARCHAR(255)
     );
     ```

2. **ALTER**: Used to modify the structure of an existing database object.
   - Example:
     ```sql
     ALTER TABLE Employees
     ADD Salary INT;
     ```

3. **DROP**: Used to delete an entire object or part of an object from the database.
   - Example:
     ```sql
     DROP TABLE Employees;
     ```

4. **TRUNCATE**: Used to delete all records from a table but does not remove the table structure.
   - Example:
     ```sql
     TRUNCATE TABLE Employees;
     ```

5. **RENAME**: Used to rename an existing database object.
   - Example:
     ```sql
     RENAME TABLE Employees TO Staff;
     ```

### **DML (Data Manipulation Language) Commands**

DML commands are used to manipulate data within a database. Key DML commands include:

1. **INSERT**: Used to add new records to a database table.
   - Example:
     ```sql
     INSERT INTO Employees (EmployeeID, FirstName, LastName, Department)
     VALUES (1, 'John', 'Smith', 'IT');
     ```

2. **UPDATE**: Used to modify existing records in a database table.
   - Example:
     ```sql
     UPDATE Employees
     SET Salary = 50000
     WHERE EmployeeID = 1;
     ```

3. **DELETE**: Used to delete existing records from a database table.
   - Example:
     ```sql
     DELETE FROM Employees
     WHERE EmployeeID = 1;
     ```

4. **SELECT**: Used to retrieve data from one or more tables.
   - Example:
     ```sql
     SELECT * FROM Employees;
     ```

5. **MERGE**: Used to combine data from two or more tables into one.
   - Example:
     ```sql
     MERGE INTO TargetTable AS target
     USING SourceTable AS source
     ON target.ID = source.ID
     WHEN MATCHED THEN
         UPDATE SET target.value = source.value
     WHEN NOT MATCHED THEN
         INSERT (ID, value) VALUES (source.ID, source.value);
     ```

6. **CALL**: Used to call a stored procedure or function.
   - Example:
     ```sql
     CALL UpdateEmployeeSalary(1, 50000);
     ```

### **DDL vs. DML Commands**

| **DDL** | **DML** |
|---------|---------|
| Defines database objects like tables, indexes, and views. | Manipulates data within the database. |
| Examples: `CREATE`, `ALTER`, `DROP`, `TRUNCATE`. | Examples: `SELECT`, `INSERT`, `UPDATE`, `DELETE`. |
| Changes affect the structure of the database. | Changes affect the data stored in the database. |
| Not transactional; cannot be rolled back. | Transactional; can be rolled back if necessary. |
| Typically executed by database administrators. | Executed by application developers or end-users. |
| Used during database design and setup. | Used during normal operation of a database. |

### **Benefits of DDL and DML Commands**

- **DDL Commands**:
  - Define and manage database structures.
  - Ensure data integrity by defining constraints and relationships.
  - Control database access by creating and modifying users and permissions.

- **DML Commands**:
  - Manipulate data efficiently.
  - Ensure accurate and up-to-date data in the database.
  - Support complex queries and data retrieval operations.

### **Best Practices**

- **Use Specific DDL Statements**: Avoid unintended side effects by being specific (e.g., `DROP TABLE` instead of `DROP DATABASE`).
- **Use Transactions for Multiple Changes**: Ensure atomicity and consistency of multiple changes.
- **Avoid DDL in Stored Procedures**: Prevent unintentional side effects and maintain clarity.
- **Validate DML Operations**: Ensure data changes are valid and appropriate for the current database state.
- **Regular Backups**: Protect against data loss and ensure recovery options are available.

### **Key Takeaways**

- **DDL**: Used for defining and modifying database structures.
- **DML**: Used for manipulating and querying data.
- Both DDL and DML are essential for effective database management and operation.

This overview should provide a solid foundation for understanding and using SQL DDL and DML commands effectively. If you have any specific questions or need further examples, feel free to ask!

---------
#**SQL DDL commands**


### **1. Create Table**

If you need to create the `insurance` table with the required schema, use the following `CREATE TABLE` statement:

```sql
CREATE TABLE insurance (
    PatientID INT PRIMARY KEY,
    gender VARCHAR(10),
    age INT,
    bmi FLOAT,
    bloodpressure INT,
    diabetic VARCHAR(3),
    smoker VARCHAR(3),
    children INT,
    claim FLOAT,
    region VARCHAR(20)
);
```

### **2. Alter Table**

To modify the structure of the `insurance` table, such as adding a new column or modifying an existing one:

- **Add a New Column**

```sql
ALTER TABLE insurance
ADD COLUMN example_column VARCHAR(255);
```

- **Modify an Existing Column**

```sql
ALTER TABLE insurance
MODIFY COLUMN bmi DECIMAL(5,2);
```

- **Rename a Column**

```sql
ALTER TABLE insurance
RENAME COLUMN bloodpressure TO blood_pressure;
```

### **3. Drop Table**

To remove the `insurance` table from the database:

```sql
DROP TABLE insurance;
```

### **4. Truncate Table**

To delete all records from the `insurance` table while retaining the table structure:

```sql
TRUNCATE TABLE insurance;
```

### **5. Rename Table**

To rename the `insurance` table to `patient_insurance`:

```sql
RENAME TABLE insurance TO patient_insurance;
```

### **6. Add Constraints**

- **Add a Unique Constraint**

```sql
ALTER TABLE insurance
ADD CONSTRAINT unique_patient UNIQUE (PatientID);
```

- **Add a Foreign Key Constraint**

Assuming you have another table `patients` with `PatientID` as the primary key:

```sql
ALTER TABLE insurance
ADD CONSTRAINT fk_patient
FOREIGN KEY (PatientID) REFERENCES patients(PatientID);
```

### **7. Create Index**

To create an index on the `region` column to improve query performance:

```sql
CREATE INDEX idx_region ON insurance(region);
```

### **8. Drop Index**

To remove an index from the `insurance` table:

```sql
DROP INDEX idx_region ON insurance;
```

### **9. Create View**

To create a view that shows only diabetic patients:

```sql
CREATE VIEW diabetic_patients AS
SELECT * FROM insurance
WHERE diabetic = 'Yes';
```

### **10. Drop View**

To remove the view:

```sql
DROP VIEW diabetic_patients;
```

### **Best Practices**

- **Naming Conventions**: Follow consistent naming conventions for tables, columns, and constraints.
- **Data Types**: Choose appropriate data types and sizes based on your data requirements.
- **Indexing**: Use indexes to optimize query performance but avoid over-indexing.
- **Constraints**: Use constraints to enforce data integrity and avoid invalid data.

These DDL commands should help you manage and structure your `insurance` table effectively. Let me know if you need more details or assistance with specific DDL tasks!

----------
#**Task for SQL DML session**

Load this dataset in your database and perform below given tasks.

DataSet - https://docs.google.com/spreadsheets/d/e/2PACX-1vRa1wWwXmzxEvqITxj4OQTeLywlGTTsOTbhSRqKj2lPuGefjlci-DQhgLBPpgWXe8AAUu2WUBqY59X1/pub?gid=1030172542&single=true&output=csv

Look for data description

Kaggle - https://www.kaggle.com/datasets/thedevastator/insurance-claim-analysis-demographic-and-health?select=insurance_data.csv

Here’s a detailed breakdown of how to handle each task for your SQL session with the provided dataset. Assuming you've already loaded the dataset into your `insurance` table within the `sql_tasks` database, here’s how you can execute each query:

### **1. Show records of 'male' patients from 'southwest' region**
```sql
SELECT * FROM insurance
WHERE gender = 'male' AND region = 'southwest';
```

### **2. Show all records having BMI in range 30 to 45 (both inclusive)**
```sql
SELECT * FROM insurance
WHERE bmi BETWEEN 30 AND 45;
```

### **3. Show minimum and maximum blood pressure of diabetic patients who smoke**
- **Column names**: MinBP and MaxBP
```sql
SELECT MIN(bloodpressure) AS MinBP,
       MAX(bloodpressure) AS MaxBP
FROM insurance
WHERE diabetic = 'Yes' AND smoker = 'Yes';
```

### **4. Find the number of unique patients who are not from the southwest region**
```sql
SELECT COUNT(DISTINCT PatientID)
FROM insurance
WHERE region <> 'southwest';
```

### **5. Total claim amount from male smokers**
```sql
SELECT SUM(claim)
FROM insurance
WHERE gender = 'male' AND smoker = 'Yes';
```

### **6. Select all records of south region**
```sql
SELECT * FROM insurance
WHERE region LIKE 'south%';
```

### **7. Number of patients having normal blood pressure (Normal range: 90-120)**
```sql
SELECT COUNT(*)
FROM insurance
WHERE bloodpressure BETWEEN 90 AND 120;
```

### **8. Number of patients below 17 years of age having normal blood pressure**
- **Formula**: BP normal range = 80 + (age × 2) to 100 + (age × 2)
```sql
SELECT COUNT(*)
FROM insurance
WHERE age < 17
AND bloodpressure BETWEEN 80 + (age * 2) AND 100 + (age * 2);
```

### **9. What is the average claim amount for non-smoking female patients who are diabetic?**
```sql
SELECT AVG(claim)
FROM insurance
WHERE gender = 'female'
AND smoker = 'No'
AND diabetic = 'Yes';
```

### **10. Update the claim amount for the patient with PatientID = 1234 to 5000**
```sql
UPDATE insurance
SET claim = 5000
WHERE PatientID = 1234;
```

### **11. Delete all records for patients who are smokers and have no children**
```sql
DELETE FROM insurance
WHERE smoker = 'Yes' AND children = 0;
```

### **Additional Notes:**

1. **Loading the Data**: Ensure the dataset from the provided link is loaded into your database. You may use tools like `mysqlimport`, `pgAdmin`, or similar depending on your SQL database.

2. **Verification**: After performing updates and deletions, it’s a good practice to verify the changes by running `SELECT` queries to ensure correctness.

3. **Backup**: Always back up your data before performing update or delete operations, especially in a production environment.

These queries should cover the required tasks and help you perform data manipulation and analysis efficiently. Let me know if you need further assistance with any specific query or additional functionality!